*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --color: rgb(43, 43, 43);
    --transitionForm: 0.6s;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
    margin: 0 15px;
}
ul{
    display: flex;
}
.logo{
    cursor: pointer;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color);
    font-size: 1.1em;
    font-weight: 500;
    height: 75px;
}
header a{
    color: rgb(248, 248, 248);
    padding: 10px 20px;
}
.container-sign{
    position: relative;
    padding-right: 20px;
    z-index: 1;
    display: flex;
    align-items: center;
    height: 100%;
}
.container-sign #setting{
    margin-left: 20px;
    font-size: 1.2em;
    color: white;
    cursor: pointer;
    transition: transform 0.7s;
}
.container-sign #setting:hover{
    transform: scale(1.2);
    transition: transform 0.7s;
}
.container-sign h4{
    color: white;
}
.container-sign h4 span{
    color: tomato;
}
.container-sign #menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    background: var(--color);
    width: 110%;
    top: 105%;
    right: 0;
    gap: 10px;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.6s;
}
.settingHeight{
    max-height: 500px !important;
    transition: max-height 0.6s;
}
.container-sign #menu ion-icon{
    margin-right: 10px;
    font-size: 1.1em;
}
#cache{
    display: none;
}
.container-sign #menu form{
    display: flex;
    align-items: center;
    transition: all 0.5s;
    color: white;
    margin-left: 20px;
}
.container-sign #menu form:nth-child(1){
    margin-top: 20px;
}
.container-sign #menu form:nth-child(2){
    margin-bottom: 20px;
}
.container-sign #menu form input{
    background: transparent;
    border: none;
    color: rgb(248, 248, 248);
    font-size: 1.1em;
    transition: all 0.5s;
    cursor: pointer;
}
.container-sign #menu form:hover input{
    letter-spacing: 1px;
    color: tomato;
    transition: all 0.5s;
}
#inscription, #connexion{
    position: relative;
    margin: 0 5px;
    padding: 10px 15px;
    background: var(--color);
    border-radius: 3px;
    transition: background-color 0.5s;
}
#inscription:hover, #connexion:hover{
    background: transparent;
    transition: background-color 0.5s;
}
#inscription::before, #connexion::before{
    position: absolute;
    content: '';
    top: -2px;
    left: -2px;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    background: linear-gradient(-45deg, crimson, tomato); 
    border-radius: 6px;
    z-index: -1;
}
.logo img{
    height: 80px;
}
.barre{
    position: relative;
    z-index: 1;
}
.barre::after{
    position: absolute;
    content: '';
    top:0%;
    left: -5%;
    width: 45%;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(35deg, crimson, tomato);
    transform: rotateZ(35deg);
    z-index: -1;
    transition: width 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
}

.barre:hover::after{
    transform: rotateZ(0deg);
    width: 110%;
    transition: transform 0.4s ease-in-out, width 0.4s ease-in-out 0.4s;
}

/* //------------Form inscription-------------- */
.container-f{
    border: solid 3px gray;
    border-left: none;
    border-right: none;
    margin: 25px 0;
    box-shadow: inset 0.2em 0.2em 0.2em rgba(0,0,0, 0.4),
                inset -0.2em -0.2em 0.2em rgba(0,0,0, 0.4);
}
.container-form{
    width: 100%;
    display: flex;
    justify-content: center;
    max-height: 0px;
    overflow: hidden;
    transition: max-height var(--transitionForm) ease-in;
}
.formulaireHeight{
    max-height: 1000px;
    transition: max-height var(--transitionForm) ease-out;
}
.container-form form::before{
    position: absolute;
    content: '';
    top: -4px;
    left: -4px;
    height: calc(100% + 8px);
    width: calc(100% + 8px);
    background: linear-gradient(-45deg, crimson, tomato);
    border-radius: 6px;
    z-index: -1;
    box-shadow: -0.2em -0.2em 0.2em rgba(0,0,0, 0.6);
}
.container-form form::after{
    position: absolute;
    content: '';
    top:0%;
    left: -5%;
    width: 50%;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(35deg, crimson, tomato);
    transform: rotateZ(35deg);
    z-index: -1;
    animation: rot 40s infinite;
}
@keyframes rot {
    0%{ transform: rotateZ(35deg);}
    50%{ transform: rotateZ(215deg);} 
    100%{ transform: rotateZ(34deg);}
}
.container-form form{
    color: white;
    position: relative;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    background: rgba(43, 43, 43,0.85);
    width: 50%;
    padding: 20px 40px;
    margin: 25px 0;
    box-shadow: -0.2em -0.2em 0.2em rgba(0,0,0, 0.6);
}
.container-form form > div{
    display: flex;
    flex-direction: column;
}
.container-form form > div label{
    color: white;
    transition: color 0.7s;
    margin-left: 7%;
}
.container-form form > div input{
    background-color: rgba(255, 255, 255, 0.8);
    transition: all 0.7s;
    color: rgb(2, 2, 2);
}
.container-form form > div:hover input{
    border: solid transparent 2px;
    background-color: tomato;
    color: rgb(255, 255, 255);
    transition: all 0.7s;
}
.container-form form > div:hover input::placeholder{
    color: white;
    transition: all 0.7s;
}
.container-form form > div:hover label{
    color: tomato;
    transition: color 0.7s;
}
.container-form h2{
    align-self: center;
    font-family: 'Helvetica Neue', sans-serif;
    margin: 30px 0;
}
.container-form input{
    min-height: 40px;
    width: 85%;
    align-self: center;
}
.container-form span{
    margin: 0 0 25px 6%;
    font-size: 0.9em;
    font-style: italic;
    color: gray;
}
.container-form label{
    padding: 8px 0;
}
.container-form input[type="text"], .container-form input[type="password"], .container-form input[type="email"]{
    padding-left: 10px;
}
.container-form input[type="submit"]{
    position: relative;
    width: 15%;
    border: none;
    cursor: pointer;
    color: black;
    font-weight: 600;
    margin-bottom: 30px;
    background-color: white;
    transition: all 0.5s;
}
.container-form input[type="submit"]:hover{
    color: white;
    background-color: tomato;
    transition: all 0.5s;
}
main{
    display: flex;
    justify-content: center;
}
.wrapper{
    width: 80%;
}
.wrapper h2{
    margin: 0 0 10px 20px ;
    background-image: linear-gradient(45deg, tomato, crimson, tomato,crimson);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    
}
.wrapper .box{
    height: 300px;
    width: 300px;
}
.wrapper .box-container{
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0;
    justify-content: space-around;
}
.wrapper .box-container ion-icon{
    font-size: 4em;
    color: white;
    transform: scale(1);
    transition: all 0.5s;
}
.wrapper .box-container div{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0.2em 0.2em 0.2em rgba(0,0,0, 0.6);
    margin: 20px;
}
.wrapper .box-container div:hover ion-icon{
    transform: scale(1.4);
    transition: all 0.5s;
}
.wrapper .box-container div:nth-child(1){
    background: tomato;
}
.wrapper .box-container div:nth-child(2){
    background: crimson;
}
.wrapper .box-container div:nth-child(3){
    background: tomato;
}

.box2-container{
    border: 3px solid gray;
    border-left: none;
    border-right: none;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    padding: 30px 0 30px 30px;
}
.box2-container > div{
    display: flex;
    margin: 10px;
}
.box2{
    width: 75%;
    background: crimson;
    color: white;
    padding: 25px;
    cursor: pointer;
    transition: all 0.4s ease-in;
    box-shadow: 0.2em 0.2em 0.2em rgba(0,0,0, 0.6);
}
.box2:hover{
    transform: scale(1.025);
    box-shadow: 0.4em 0.4em 0.2em rgba(0,0,0, 0.6);
    transition: all 0.2s ease-out;
}
.second-box2{
    width: 25%;
    padding: 50px;
}
.second-box2 h3{
    margin: 0 0 40px 20px;
}
.box2 h3{
    margin: 40px 0px;
}
.box2 h4{
    margin: 20px 0;
}
.box2 p{
    font-family: monospace;
    font-size: 1.2em;
    margin-bottom: 40px;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background: var(--color);
    color: white;
}
footer .icon{
    width: 150px;
    display: flex;
    justify-content: space-around;
}
footer ion-icon{
    font-size: 1.5em;
    transform: scale(1);
    transition: all 0.4s;
    cursor: pointer;
}
footer ion-icon:hover{
    transform: scale(1.2);
    transition: all 0.4s;
}
/* message erreur pseudo et mail */
.wrapper-msgErreur{
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.msgErreur{
    position: relative;
    width: 50%;
    height: 50%;
    background:rgba(0,0,0, 0.95);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 10px;
}
.msgErreur ion-icon{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2em;
    cursor: pointer;
}
.msgErreur p span{
    font-size: 1.2em;
    color: tomato;
    font-style: italic;
}


@media (max-width: 1000px) {
    .box2-container > div{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }
    .box2{
        width: 100%;
    }
    .second-box2{
        width: 100%;
        padding: 50px;
    }
    .box2-container{
        padding: 10px;
    }
    .msgErreur{
        width: 100%;
        height: 50%;
    }
    header{
        position: fixed;
        left: 0;
        top: 0;
        flex-direction: column;
        justify-content: flex-start;
        width: 150px;
        height: 100vh;
        z-index: 1;
        gap: 20px;
        transform: translateX(-150px);
        transition: transform 0.5s;
    }
    ul{
        margin-top: 150px;
        flex-direction: column;
        height: auto;
    }
    ul li{
        margin: 20px 0;
    }
    .container-sign{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 150px;
        margin: 20px 0;
        padding-right: 0;
    }
    .logo{
        position: absolute;
        top: 10px;
        left: 180px;
        transition: transform 0.5s;
        background: var(--color);
        border-radius: 50%;
    }
    .lionRotation{
        transform: translateX(-150px) rotateZ(-360deg);
        transition: transform 0.5s;
    }
    .headerWidth{
        transform: translateX(0px);
        transition: transform 0.5s;
    }
    .container-form form {
        width: 90%;
        padding: 0;
    }
    .container-form form input[type='submit']{
        width: 40%;
    }
}